<a href="/"><h1 class="nav1">Home </h1></a>


<a> <h1> <%= hotel.location %> </h1> </a>


<h1 class="nav2">nav bar part two</h1>
<a href="/rooms/<%=hotel._id%>/<%=room._id%>/edit"><h1 class="reserve">Book Room</h1></a>