<p>hello brian</p>




create account - redirect to new account form 

view account - input box to send to show page with maybe the object id 
                (on this  page we will have the delete account)
                we can use find(username="")