<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/accounts.css">
    <script src="app.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1 class="nav1"></h1>
        <h1 class="search">contact bar</h1>
    </div>
    <div class="userInfo">
        <h1 class="username">Username</h1>
        <h3 class="email">E-Mail</h3>
        <h3 class="number">Phonenumber</h3>
    </div>



<div>
    <p class="control">
        <form action="/users/<%= userName %>?_method=DELETE" method="POST">
                <input class="button is-danger" type="submit" value=“Check-Out”>                    
        </form>
    </p>
</div>

</body>