<p>hello brian</p>

<% for(let i=0;i<users.length;i++) { %>
<a href="/users/<%= users[i].username %> "><%= users[i].username %></a>
<% } %>


create account - redirect to new account form 

view account - input box to send to show page with maybe the object id. 
                (on this  page we will have the delete account)
                we can use find(username="")

