<body>
    <h1>You're room has been reserved! Thank you!</h1>
    <div class="userInfo">
     <h2><%= thisUser.username %></h1>
     <h3><%= thisUser.email %></h1>
     <h3><%= thisUser.phone %></h1>
    </div>
    <h2>If you haven't had a chance to create an account, please go to <a href="/users/accounts/accountSumssion"><h1 class="reserve">Create Account</h1></a>. </h2>
</body>
