<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/confirmation.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1 class="navHotel"> <%= hotel.location %> </h1>
        <a class="navHome" href="/"><h1> Home </h1></a>
        <a href="/users"><h1 class="reserveAccounts">Accounts</h1></a>
        <a class="reserve" href="/rooms/<%=hotel._id%>/<%=room._id%>/edit"><h1> Book Room </h1></a>
    </div>
    <div class="message">
    <h1> Thank you for booking a reservation!</h1>
    <p>You will recieve a confirmation email shortly!</p>
    <p>If you have not created an account, then click here -> <a href="/users/accounts/accountSubmission">Create an account</a></p>
</div>
</body>
</html>



