<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script src="/rooms.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1 class="nav1">nav bar</h1>
        <h1 class="search">contact bar</h1>
        <h1 class="nav2">nav bar part two</h1>
    </div>
    <img class="keyPhoto" src="https://images.stockfreeimages.com/1720/sfixl/17209494.jpg" alt="Nautical Room">
    <div class="about">
        <h3>About Hotel California</h3>
        <hr>
        <p class="thisHotel">This is the best hotel. A wonderful hotel. I can't think of a better
            hotel. It really is, this best. All those other hotels? Garbage. Dirt. They deserve
            to be called motels. But this hotel? Incredbile experience. I would go here everytime. 
            I had the time of my life. 
        </p>
        <hr>
    </div>
    <div class="showCase">
        <h1 class="randShow">Photos</h1>
            <div class="showpages">
                <img class="bath showImg left" src="https://images.stockfreeimages.com/1720/sfixl/17209488.jpg" alt="bathroom">
                <img class="balcony showImg center" src="https://images.stockfreeimages.com/1424/sfixl/14245968.jpg" alt="balcony">
                <img class="kitchen showImg right" src="https://images.stockfreeimages.com/670/sfixl/6704863.jpg" alt="kitchen">
            </div>
    </div>
    <div class="last">
        <p> < </p>
    </div>
    <div class="next">
        <p> > </p>
    </div>
</body>