<!-- 
create a show route from the create form -->
<!-- VV edit form VV -->


<!-- 
    email:
    phone:
    username: 
-->

<div>
    <form action="/users/" method="POST">
        <label for="username">Username</label>
        <div>
          <input id="username"
            class="input"
            type="text"
            name="username"
            placeholder="username"
          />
        </div>
      
      <div>
        <label for="email">Email</label>
          <input id="arrival"
            class="input"
            type="text"
            name="email"
            placeholder=email"
          />
      </div>
      
      <div>
        <label for="phone">Phone</label>
          <input id="phone"
            class="input"
            type="text"
            name="phone"
            placeholder=phone"
          />
      </div>
      
          <div>
       <input type="submit" value="Create Account">
          </div>
      </form>
</div>

<!-- ^^ edit form ^^ -->