body {
    background-color: #212020;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    margin: auto;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

.header {
    grid-column: 1/span 7;
    grid-row: 1/span 3;
    height: 450px;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-image: url(https://images.stockfreeimages.com/2836/sfixl/28369526.jpg);
    animation-duration: 5s;
    animation-name: background;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 6s;
}

@keyframes background {
    from {
        background-image: url(https://images.stockfreeimages.com/2836/sfixl/28369526.jpg);
    }
    to {
        background-image: url(https://images.stockfreeimages.com/2237/sfixl/22371432.jpg);
    }
}

.nav1 {
    grid-column: 6;
    grid-row: 1;
    align-self: end;
}

/* .nav2 {
    grid-column: 1/span 7;
    grid-row: 3;
    align-self: end;
    color: #212020;
} */

#navRoomOne {
    grid-column: 2;
    grid-row: 9;
    padding: 8px;
    border-right: 1px solid #212020;
    color: whitesmoke;
    background-color: rgb(33, 32, 32, .50 )
}

#navRoomTwo {
    grid-column: 3;
    grid-row: 9;
    padding: 8px;
    border-right: 1px solid #212020;
    color: whitesmoke;
    background-color: rgb(33, 32, 32, .50 )
}

#navRoomThree {
    grid-column: 4;
    grid-row: 9;
    padding: 8px;
    color: whitesmoke;
    background-color: rgb(33, 32, 32, .50 )
}

#navHome {
    grid-column: 1;
    grid-row: 9;
    padding: 8px;
    border-right: 1px solid #212020;
    color: whitesmoke;
    background-color: rgb(33, 32, 32, .50 )
}

#navHotel {
    padding: 8px;
    grid-column: 1;
    grid-row: 7;
    color: whitesmoke;
    background-color: rgb(33, 32, 32, .35 )
}

.navBarOne {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    transition: 0.25s linear;

}

.navBarOne:hover {
    text-decoration: underline;
    background-color: rgb(33, 32, 32)
}

.showCase {
    grid-column: 1/span 7;
    grid-row: 4;
}

.randShow {
    display: flex;
    justify-content: center;
    /* grid-column: 1, span 1;     */
}

.showpages {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr); */
    gap: 20px;
    transition: 0.5s linear;
    margin: 20px;
}

.page{
    transition: 0.25s linear;
    height: 200px;
}

.page:hover {
    border: 5px solid whitesmoke;
}

.show1 {
    grid-column: 4/span 2;
    grid-row: 1; 
    border: 1px solid black;
    /* background-image: url(https://images.stockfreeimages.com/3658/sfixl/36582790.jpg); */
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    padding: 20px;
    margin: 25px;
}

.show2 {
    grid-column: 4/span 2;
    grid-row: 2; 
    border: 1px solid black;
    background-image: url(https://images.stockfreeimages.com/2237/sfixl/22371432.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    padding: 20px;
    margin: 25px;
}

.show3 {
    grid-column: 4/span 2;
    grid-row: 3; 
    border: 1px solid black;
    background-image: url(https://images.stockfreeimages.com/2836/sfixl/28369526.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    padding: 20px;
    margin: 25px;
}

.roomOneDetails {
    grid-column: 2/span 2;
    grid-row: 1;
    align-self: end;
}

.roomTwoDetails {
    grid-column: 2/span 2;
    grid-row: 2;
    align-self: end;
}

.roomThreeDetails {
    grid-column: 2/span 2;
    grid-row: 3;
    align-self: end;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.about {
    margin: 5px;
    padding: 5px;
    grid-column: 1/span 7;
    grid-row: 8;
    text-align: center;
}

.hotelAbout {
    color: whitesmoke;
}
.thisHotel {
    background-color: rgb(210, 210, 214);
    text-align: center;
    padding: 80px;
    font-size: 20px;
    color: black;
}

.deals {
    grid-column: 1/span 3;
    grid-row: 9;
    margin: 5px;
}

.dealt{
    transition: 0.25s linear;
    height: 200px;
}

.dealt:hover {
    border: 5px solid whitesmoke;
}

.deal1{
    border: 1px solid black;
    grid-column: 1;
}

.deal2 {
    border: 1px solid black;
}

.feature {
    grid-column: 4/span 4;
    grid-row: 9/span 2;
    border: 1px solid black;
    height: 400px;
    margin: 5px;
}

.reviews {
    grid-column: 2/span 5;
    grid-row: 11; 
    border: 1px solid black;
    margin: 5px;
    padding: 30px;
}

.foot {
    grid-column: 1/span 7;
    grid-row: 12;
    border: 1px solid black;
    margin-top: 25px;
}