body {
    background-color: #212020;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: auto;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

.header {
    grid-column: 1/span 7;
    grid-row: 1;
    background-size: 100vw;
    color: black;
    background-color: whitesmoke;
}

#username {
    grid-column: 3;
    grid-row: 4;
    
}

#email {
    grid-column: 4;
    grid-row: 4;
}

#phone {
    grid-column: 5;
    grid-row: 4;
}

.form {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    display: grid;
    grid-column: 1/span 6;
    grid-row: 2/span 6;
}

.input {
    margin: 0px;
    height: 30px;
}

.inputLabel {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    padding: 25px;
}

.emailLabel {
    grid-column: 4;
    grid-row: 3;
    text-align: center;
    padding: 25px;
}

.phoneLabel {
    grid-column: 5;
    grid-row: 3;
    text-align: center;
    padding: 25px;
}

.createButton {
    grid-column: 6;
    grid-row: 4;
    height: 30px;
}

