<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="nav1">nav bar</h1>
    <h1 class="search">search bar</h1>
    <h1 class="nav2">nav bar part two</h1>
    <div class="showCase">
        <h1 class="randShow">rando show page</h1>
            <h2 class="show1">show page one</h2>
            <h2 class="show2">show page two</h2>
            <h2 class="show3">show page three</h2>
    </div>
    <footer class="foot">
        <h3 class="foot">ma insta, ma twitt, ma contact info</h3>
    </footer>
</body>
</html>