body {
    background-color: rosybrown;
    display: grid;
    grid-template-columns: repeat(7, fr);
    grid-template-rows: repeat(auto-fill, fr);
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.nav1 {
    grid-column: 7;
}

.nav2 {
    grid-column: 3;
    grid-row: 2;
}

.showCase {
    grid-column: 2/span 4;
    grid-row: 3/ span 2;
}

.randShow {
    display: flex;
    justify-content: center;
    /* grid-column: 1, span 1;     */
}

.showpages {
    display: grid;
    grid-template-columns: repeat(3, fr);
    gap: 20px;
    border: 1px solid black
}

.show1 {
    grid-column: 1; 
    border: 1px solid black;
}

.show2 {
    grid-column: 2; 
    border: 1px solid black;
}

.show3 {
    grid-column: 3; 
    border: 1px solid black;
}

.about {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    grid-column: 2/span 4;
    grid-row: 5;
}

.deals {
    grid-column: 2/span 2;
    grid-row: 6;
}

.deal1{
    border: 1px solid black;
    grid-column: 1;
}

.deal2 {
    border: 1px solid black;
}

.feature {
    grid-column: 5;
    grid-row: 6;
}

.foot {
    grid-column: 4;
    grid-row: 8;
}